/* Text Sizes */
:root {
    --text-xs: 0.75em;
    --text-sm: 0.875em;
    --text-base: 1em;
    --text-lg: 1.25em;
    --text-xl: 1.5em;
    --text-2xl: 2em;
    --text-3xl: 3em;
}

:root {
    /* Colors */
    --text: #07090e;
    --background: #f1f3f9;
    --primary: #435ed6;
    --secondary: #b396e9;
    --accent: #39446a;

    /* Text Colors */
    --text-50: #eef0f6;
    --text-100: #dde2ee;
    --text-200: #bbc5dd;
    --text-300: #99a8cc;
    --text-400: #778abb;
    --text-500: #556daa;
    --text-600: #445788;
    --text-700: #334266;
    --text-800: #222c44;
    --text-900: #111622;
    --text-950: #090b11;

    /* Background Colors */
    --background-50: #edf0f7;
    --background-100: #dbe0f0;
    --background-200: #b8c2e0;
    --background-300: #94a3d1;
    --background-400: #7085c2;
    --background-500: #4d66b3;
    --background-600: #3d528f;
    --background-700: #2e3d6b;
    --background-800: #1f2947;
    --background-900: #0f1424;
    --background-950: #080a12;

    /* Primary Colors */
    --primary-50: #eaedfa;
    --primary-100: #d5dbf6;
    --primary-200: #abb7ed;
    --primary-300: #8293e3;
    --primary-400: #5870da;
    --primary-500: #2e4cd1;
    --primary-600: #253da7;
    --primary-700: #1c2d7d;
    --primary-800: #121e54;
    --primary-900: #090f2a;
    --primary-950: #050815;

    /* Secondary Colors */
    --secondary-50: #f0eafb;
    --secondary-100: #e1d5f6;
    --secondary-200: #c2abed;
    --secondary-300: #a481e4;
    --secondary-400: #8557db;
    --secondary-500: #672dd2;
    --secondary-600: #5224a8;
    --secondary-700: #3e1b7e;
    --secondary-800: #291254;
    --secondary-900: #15092a;
    --secondary-950: #0a0415;

    /* Accent Colors */
    --accent-50: #eef0f6;
    --accent-100: #dee1ed;
    --accent-200: #bdc3db;
    --accent-300: #9ca5c9;
    --accent-400: #7a88b8;
    --accent-500: #596aa6;
    --accent-600: #475585;
    --accent-700: #363f63;
    --accent-800: #242a42;
    --accent-900: #121521;
    --accent-950: #090b11;

    /* Gradients */
    --gradient-primary-secondary: linear-gradient(var(--primary-500), var(--secondary-500));
    --gradient-primary-accent: linear-gradient(var(--primary-500), var(--accent-500));
    --gradient-secondary-accent: linear-gradient(var(--secondary-500), var(--accent-500));
    --gradient-primary-secondary-radial: radial-gradient(var(--primary-500), var(--secondary-500));
    --gradient-primary-accent-radial: radial-gradient(var(--primary-500), var(--accent-500));
    --gradient-secondary-accent-radial: radial-gradient(var(--secondary-500), var(--accent-500));
    --gradient-footer: linear-gradient(135deg, var(--primary-300) 0%, var(--secondary-300) 100%);


    /* Border Radius */
    --border-radius-sm: 2px;
    --border-radius-md: 4px;
    --border-radius-lg: 6px;
    --border-radius-xl: 8px;

    /* Shadows */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
    /* Dark Mode Colors */
    --text: #f1f3f8;
    --background: #06080e;
    --primary: #2944bc;
    --secondary: #331669;
    --accent: #95a0c6;

    /* Dark Mode Text Colors */
    --text-50: #090b11;
    --text-100: #111622;
    --text-200: #222c44;
    --text-300: #334266;
    --text-400: #445788;
    --text-500: #556daa;
    --text-600: #778abb;
    --text-700: #99a8cc;
    --text-800: #bbc5dd;
    --text-900: #dde2ee;
    --text-950: #eef0f6;

    /* Dark Mode Background Colors */
    --background-50: #080a12;
    --background-100: #0f1424;
    --background-200: #1f2947;
    --background-300: #2e3d6b;
    --background-400: #3d528f;
    --background-500: #4d66b3;
    --background-600: #7085c2;
    --background-700: #94a3d1;
    --background-800: #b8c2e0;
    --background-900: #dbe0f0;
    --background-950: #edf0f7;

    /* Dark Mode Primary Colors */
    --primary-50: #050815;
    --primary-100: #090f2a;
    --primary-200: #121e54;
    --primary-300: #1c2d7d;
    --primary-400: #253da7;
    --primary-500: #2e4cd1;
    --primary-600: #5870da;
    --primary-700: #8293e3;
    --primary-800: #abb7ed;
    --primary-900: #d5dbf6;
    --primary-950: #eaedfa;

    /* Dark Mode Secondary Colors */
    --secondary-50: #0a0415;
    --secondary-100: #15092a;
    --secondary-200: #291254;
    --secondary-300: #3e1b7e;
    --secondary-400: #5224a8;
    --secondary-500: #672dd2;
    --secondary-600: #8557db;
    --secondary-700: #a481e4;
    --secondary-800: #c2abed;
    --secondary-900: #e1d5f6;
    --secondary-950: #f0eafb;

    /* Dark Mode Accent Colors */
    --accent-50: #090b11;
    --accent-100: #121521;
    --accent-200: #242a42;
    --accent-300: #363f63;
    --accent-400: #475585;
    --accent-500: #596aa6;
    --accent-600: #7a88b8;
    --accent-700: #9ca5c9;
    --accent-800: #bdc3db;
    --accent-900: #dee1ed;
    --accent-950: #eef0f6;
}

/* General Styles */
html {
    color: var(--text);
    background-color: var(--background);
    font-family: Alexandria, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0;
}

h1 { font-size: var(--text-2xl); }
h2 { font-size: var(--text-xl); }
h3 { font-size: var(--text-lg); }
h4 { font-size: var(--text-base); }
h5 { font-size: var(--text-sm); }
h6 { font-size: var(--text-xs); }


p {
    margin: 0 0 1em 0;
    color: var(--text-700);
    font-size: var(--text-base);
}

a {
    color: var(--text);
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: var(--primary-600);
}

/* Buttons */
button {
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius-md);
    cursor: pointer;
    font-family: inherit;
    font-size: var(--text-base);
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    color: rgb(241, 243, 248);
    white-space: nowrap;
    flex-shrink: 0;
}

/* Button Variants */
.btn-primary {
    background-color: var(--primary-400);
}

.btn-primary:hover {
    background-color: var(--primary-500);
}

.btn-secondary {
    background-color: var(--secondary-400);
}

.btn-secondary:hover {
    background-color: var(--secondary-500);
}

.btn-accent {
    background-color: var(--accent-400);
}

.btn-accent:hover {
    background-color: var(--accent-500);
}

.btn-disabled {
    background-color: var(--background-300);
    color: var(--text-600);
    cursor: not-allowed;
}

.btn-disabled:hover {
    background-color: var(--background-300);
}

/* Forms */
input, textarea {
    font-family: inherit;
    font-size: var(--text-base);
    border: 1px solid var(--background-300);
    border-radius: var(--border-radius-md);
    padding: 10px;
    color: var(--text);
    background-color: var(--background-50);
    transition: border-color 0.3s;
}

input:focus, textarea:focus {
    border-color: var(--primary);
    outline: none;
}

/* Backgrounds */
.bg-primary { background-color: var(--primary); }
.bg-secondary { background-color: var(--secondary); }
.bg-accent { background-color: var(--accent); }
.bg-light { background-color: var(--background-100); }
.bg-dark { background-color: var(--background-800); }

/* Text Colors */
.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-accent { color: var(--accent); }
.text-light { color: var(--text-900); }
.text-dark { color: var(--text-50); }

/* Borders */
.border { border: 1px solid var(--background-300); }
.border-primary { border: 1px solid var(--primary); }
.border-secondary { border: 1px solid var(--secondary); }
.border-accent { border: 1px solid var(--accent); }

/* Border Radius */
.rounded-sm { border-radius: var(--border-radius-sm); }
.rounded-md { border-radius: var(--border-radius-md); }
.rounded-lg { border-radius: var(--border-radius-lg); }
.rounded-xl { border-radius: var(--border-radius-xl); }

/* Shadows */
.shadow-sm { box-shadow: var(--shadow-sm); }
.shadow-md { box-shadow: var(--shadow-md); }
.shadow-lg { box-shadow: var(--shadow-lg); }
.shadow-xl { box-shadow: var(--shadow-xl); }


footer{
    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 19% 0%;
    }
    50% {
        background-position: 82% 100%;
    }
    100% {
        background-position: 19% 0%;
    }
}

.gradient-animation {
    background: linear-gradient(325deg, #435ed6, #b396e9);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 7s ease infinite;
}



